HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#######################
# Backend
#######################
### 김영한 Spring 강의 ###
spring-start-v20240120/
spring-start-v20240120.zip

spring-basic-v20231204/
spring-basic-v20231204.zip
객체 지향 설계와 스프링.pdf

spring-mvc1-v20240419/
spring-mvc1-v20240419.zip
springmvc1-v2020-03-08/
springmvc1-v2020-03-08.zip
스프링MVC-웹애플리케이션이해v2020-03-08.pdf

spring-mvc2-v20240715/
spring-mvc2-v20240715.zip
mvc2_source_v20210624/
mvc2_source_v20210624.zip

#######################
# Frontend
#######################
### 정재남 React 공식문서 함께 공부하기 ###
Frontend/
